.recipe {
    
    margin: 40px auto;
    padding: 1rem 2.5rem;
    box-sizing: border-box;
  }

  .recipe ul {
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 0;
    flex-wrap: wrap;
  }

  .recipe li {
    list-style-type: none;
    margin-right: 10px;
    color: #777;
  }
  .recipe li::after {
    content: ",";
  }
  .recipe li:last-child::after {
    content: ".";
  }
  .method {
    text-align: left;
    line-height: 1.5em;
  }

  .recipe a{
  
    text-decoration: none;
    display: block;
    font-size: 0.9em;
    text-align: center;
    width: 120px;
    padding: 8px;
    border-radius: 4px;
    margin: 20px auto 0;
    border: none;
    position: absolute;
    left: 3rem;
    bottom: 3rem;
    /* background: rgba(88, 36, 156); */
    background: blueviolet;
    color:#fff;
  }



  
  /******* dark mode ***********/
.recipe.dark {

  color: #e4e4e4;
}


.recipe .recipe-container{
  max-width: 1200px;
  text-align: center;
  background: #fff;
  padding: 1rem 1rem;
  box-sizing: border-box;
  margin: auto;
}


.recipe.recipe.dark .recipe-container{
  
    background: #555;

}

.recipe.recipe.dark .recipe-container .page-title{
  
  color: #e4e4e4;

}


.recipe.dark li{
  color: #a1a0a0;
}
